.SaveButton {
  background: transparent;
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
  border: 0;
  font: inherit;
  padding: 0;
  cursor: pointer;
  color: inherit;
  line-height: 1;
  user-select: none;
  text-decoration: none;
  letter-spacing: inherit;

  position: absolute;
  z-index: 1;
  top: 6px;
  right: 6px;
  width: 36px;
  height: 36px;
  font-weight: bold;
  color: #484848;
  border-radius: 4px;

  :global .fa-heart-o {
    color: #ffffff;
  }

  :global .fa-heart {
    color: #ff5a5f;
  }

  span {
    font-size: 14px;
    margin-left: 0.5em;
  }

  &.is-full {
    width: auto;
    padding: 0 1.5rem;
    background: #fff;
    border: 1px solid #c4c4c4;

    :global .fa-heart-o {
      color: #808080;
    }
  }
}
