@import '~sanitize.css';

html {
  font-family: 'Open Sans', sans-serif;
  color: #484848;
  font-size: 62.5%;
}

body {
  font-size: 1.7rem;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

.u-icon {
  color: currentColor;
  fill: currentColor;
  width: 1em;
  height: 1em;
  display: inline-block;
}

// prettier-ignore
h1, h2, h3, h4, h5, h6, p, ul, li {
  margin: 0;
  padding: 0;
}
